.cities-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.other-posts .city .img-blog {
    width: 100%;
    height: 312px;
}

.other-posts .city.osaka .img-blog {
    background: url("../img/osaka-post.png");
    background-size: cover;
}

.other-posts .city.hiroshima .img-blog {
    background: url("../img/hiroshima-post.png");
    background-size: cover;
}

.other-posts .city.kyoto .img-blog {
    background: url("../img/kyoto-post.png");
    background-size: cover;
}

.other-posts .city header h3 {
    margin: 16px 0px 8px;
}

.other-posts .city p {
    margin-bottom: 16px;
}

.other-posts .button {
    width: 100%;
}